<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArS3QzpZVrCszvxUSMJ3C_NOIxOOL4uoE</string>
	<key>GCM_SENDER_ID</key>
	<string>910043889239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Michi</string>
	<key>PROJECT_ID</key>
	<string>michifcm-9584e</string>
	<key>STORAGE_BUCKET</key>
	<string>michifcm-9584e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910043889239:ios:805b51b1f1f44c8b532d12</string>
</dict>
</plist>